@font-face {
  font-family: 'Epsilon';
  src: url('./public/fonts/Epsilon.ttf');
}

@font-face {
  font-family: 'Mono-Regular';
  src: url(./public/antireal/Fonts/MONO-RGOMODULAR-Regular.ttf);
}

@font-face {
  font-family: 'NB-Architekt-Regular';
  src: url(./public/antireal/Fonts/NB\ Architekt\ Regular.otf);
}

/* icons from:https: //freeicons.io/icon-list/social-media-icons-5 */

html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;

  /* no scroll bars */
  overflow-x: hidden;
}

.card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: #FFF;
  float: left;
  font-family: 'Epsilon';
  height: 100vh;
  width: 10vw;

  opacity: 0.8;
  transform: skew(-10deg);
}

.card:hover {
  cursor: pointer;
  opacity: 1;
  width: 50vw;
}

.icons {
  width: 10px;

  position: fixed;
    bottom: 10;
    right: 35;
  z-index: 100;
}

.icons img {
  cursor: pointer;
  height: 30px;
  filter: invert(1);
  margin-bottom: 10px;
}
